<form action="/todos/{{ todo._id }}/edit" method="POST">
  <input type="text" name="name" placeholder="todo-item" value="{{ todo.name}}">
  <button type="submit">Save</button>
  <a href="/">BACK</a>
</form>